body {
  margin: 0;
  padding: 0;
}

.mat-elevation-z4 {
  margin: 10px 10px 10px 10px;
  background-color: #f5f5f5;
  padding-right: 0px;
  display: inline-flex;
  //flex-direction: column;
}

.box{
  padding: 5px;
}

// .container
// {
//   border: 6px solid black;
//   display: inline-flex;
//   flex-flow: row wrap;
//   justify-content: space-evenly;
// }

// .flex-item {
//   color: white;
//    font-size: 1.5rem;
//    padding: 1rem;
//    text-align: center;
//    flex-wrap: wrap;
// }

// .item-1{
//   background-color: yellowgreen;
// }

// .item-2{
//   background-color: blue;
// }

