
  <!-- <div class="mat-elevation-z4" *ngFor="let consumableDetails of obs | async">
      <mat-card>

      </mat-card>    
  </div> 
  <button class="btn btn-success" (click)="getConsumables()" mat-flat-button>Register</button>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator> -->



<!-- <div class="container"> -->
  <!-- <div class="mat-elevation-z4" *ngFor="let consumableDetails of obs | async">  
    <mat-card>      
        <mat-card-title>{{consumableDetails.Consumable_Name}}</mat-card-title>
        <mat-divider></mat-divider>
        <mat-list>
          <mat-list-item>
            <mat-card-content>Hotels offering are {{consumableDetails.Hotel_Name}}</mat-card-content>
          </mat-list-item>

          <mat-divider></mat-divider>

          <mat-list-item>
            <mat-card-content>Sites offering are {{consumableDetails.Website_Name}}</mat-card-content>
          </mat-list-item>
      </mat-list>
    </mat-card>  

    <mat-card>
          <mat-card-subtitle class="box border">
            Our lowest price {{consumableDetails.Consumables_Price | currency: "INR"}}
          </mat-card-subtitle>
          <mat-card-content class="box border">
            <mat-card-actions>
              <button class="btn btn-success" mat-flat-button>Veiw Deal</button>
            </mat-card-actions>
          </mat-card-content>
    </mat-card>    
  </div> 
<button class="btn btn-success" (click)="getConsumables()" mat-flat-button>Register</button>
<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator> -->





<!-- <div class="container mat-elevation-z4">
  <div class="flex flex-item " *ngFor="let consumableDetails of obs | async">
    <mat-card>      
      <mat-card-title>{{consumableDetails.Consumable_Name}}</mat-card-title>
      <mat-divider></mat-divider>
      <mat-list>
        <mat-list-item>
          <mat-card-content>Hotels offering are {{consumableDetails.Hotel_Name}}</mat-card-content>
        </mat-list-item>

        <mat-divider></mat-divider>

        <mat-list-item>
          <mat-card-content>Sites offering are {{consumableDetails.Website_Name}}</mat-card-content>
        </mat-list-item>
    </mat-list>
  </mat-card>  

  <mat-card>
    <mat-card-subtitle class="box border">
      Our lowest price {{consumableDetails.Consumables_Price | currency: "INR"}}
    </mat-card-subtitle>
    <mat-card-content class="box border">
      <mat-card-actions>
        <button class="btn btn-success" mat-flat-button>Veiw Deal</button>
      </mat-card-actions>
    </mat-card-content>
  </mat-card>    
  </div>
</div>
<button class="btn btn-success" (click)="getConsumables()" mat-flat-button>Register</button>
<mat-paginator [pageSizeOptions]="[25, 100]" showFirstLastButtons></mat-paginator> -->




<div class="container">
  <div class="flex flex-item" *ngFor="let consumableDetails of obs | async; let i = index">
    <mat-card class="card">
      <mat-card-title>{{consumableDetails.Consumable_Name}}</mat-card-title>
      <mat-divider></mat-divider>
      <mat-card-subtitle class="subTitle">
        x sites and y hotels found.
      </mat-card-subtitle>
     
    <div class="prices">
    <mat-card class="PriceCard">
      <mat-card-subtitle>
        Min Price<br>
        <mat-card-subtitle> 
          {{consumableDetails.Consumables_Price | currency: "INR"}}
            <mat-card-subtitle>
              {{consumableDetails.Website_Name}}
            </mat-card-subtitle>
          </mat-card-subtitle><br />
      </mat-card-subtitle>
    </mat-card>
    <mat-card class="PriceCard">
      <mat-card-subtitle>
        Max Price<br>
        <mat-card-subtitle> 
          {{consumableDetails.Consumables_Price | currency: "INR"}}
            <mat-card-subtitle>
              {{consumableDetails.Website_Name}}
            </mat-card-subtitle>
          </mat-card-subtitle><br />
      </mat-card-subtitle>
    </mat-card>
  </div>
      <!--card for the hidden content that displays the table with contents-->
      <div class="accordion" id="accordion1">
        <div class="card">
          <div class="card-header bg-secondary" [id]="'card' + i">
            <h2 class="mb-o">
              <button class="btn btn-link text-white" type="button" data-toggle="collapse" [attr.data-target]=" '#cardbody' + i">View Details</button>
            </h2>
          </div>
          <div [id]="'cardbody' + i" class="collapse" data-parent="#accordion1">
            <div class="card-body">
              <table class="table">
                <thead>
                  <tr>
                    <th>Price</th>
                    <th>Hotel Name</th>
                    <th>Website Name</th>
                    <th>View Deal</th>
                  </tr>
                </thead>
                <tbody>
                  <td>{{consumableDetails.Consumables_Price | currency: "INR"}}</td>
                  <td>{{consumableDetails.Hotel_Name}}</td>
                  <td>{{consumableDetails.Website_Name}}</td>
                  <td><button class="btn btn-primary" (click)="goToLink(consumableDetails.Consumable_URL)"><a> Visit Site</a></button></td>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div> 

    </mat-card>
  </div>
</div>
<button class="btn btn-success" (click)="getConsumables()" mat-flat-button>Register</button>
<mat-paginator [pageSizeOptions]="[25, 5, 100]" showFirstLastButtons></mat-paginator>
