* {
  padding: 0;
  margin: 0;
}

.box{
  padding: 5px;
}

.container {
  display: flex;
  //border: 6px solid black;
  //first property works as flex direction and second as flex wrap
  flex-flow: wrap;
  justify-content: space-between;
  align-items: baseline;
  //width: 1000rem;
}

.flex {
  display: flex;
  padding-bottom:1rem;
  //border: 6px solid blue;
  width: 30rem;
}

.subTitle {
  padding-top: 5%;
}

.prices{
  display: flex;
  // flex-flow: wrap;
  justify-content: space-evenly;;
  padding-bottom: 1rem;
}

.nav-item{
  padding-right: 1rem;
}

a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

.card {
  width: 100%;
}

.PriceCard {
  height: 5rem;
  background-color: rgb(141, 223, 141);
}
