
  <!-- <div class="mat-elevation-z4" *ngFor="let consumableDetails of obs | async">
      <mat-card>

      </mat-card>    
  </div> 
  <button class="btn btn-success" (click)="getConsumables()" mat-flat-button>Register</button>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator> -->


<div class="mat-elevation-z4" *ngFor="let consumableDetails of obs | async">  
    <mat-card>      
        <mat-card-title>{{consumableDetails.Consumable_Name}}</mat-card-title>
        <mat-divider></mat-divider>
        <mat-list>
          <mat-list-item>
            <mat-card-content>Sites offering are {{consumableDetails.Hotel_Name}}</mat-card-content>
          </mat-list-item>

          <mat-divider></mat-divider>

          <mat-list-item>
            <mat-card-content>Hotels offering are {{consumableDetails.Website_Name}}</mat-card-content>
          </mat-list-item>
      </mat-list>
    </mat-card>  

    <mat-card>
      <!-- <mat-list>
        <mat-list-item> -->
          <mat-card-subtitle class="box border">
            Our lowest price {{consumableDetails.Consumables_Price | currency: "INR"}}
          </mat-card-subtitle>
        <!-- </mat-list-item>            
        <mat-list-item> -->
          <mat-card-content>
            
          </mat-card-content>
        <!-- </mat-list-item>
    </mat-list> -->
    </mat-card>    
</div> 
<button class="btn btn-success" (click)="getConsumables()" mat-flat-button>Register</button>
<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>


  <!-- <div class="container">
  <div class="flex-item item-1">

  </div>
  <div class="flex-item item-2">
    
  </div>
</div> -->