<!-- <footer class="main-footer" style="background-color: rgb(199, 192, 192);">
    <div class="pull-right hidden-xs">
      <b>Version</b> 0.0
    </div>
    <strong>Copyright &copy; 2019 <a href="" target="_blank">coco</a>.</strong> All rights
    reserved.
    <p  style="text-align: center;">
    <span>Designed and built with all the love in the world by team coco. Maintained by the core team with the help of our contributors.
    Currently v0.0.0-alpha.0. Code 2licensed MIT, docs CC BY 3.0.</span>
  </p>
  </footer> -->



<!-- Footer -->
<footer class="page-footer font-small indigo" style="background-color: #D4B996FF;">

  <!-- Footer Links -->
  <div class="container">

    <!-- Grid row-->
    <div class="row text-center d-flex justify-content-center pt-5 mb-3">

      <!-- Grid column -->
      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase text-muted ">
          <a href="#!" class="text">About us</a>
        </h6>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase ">
          <a href="#!" class="text">Products</a>
        </h6>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase ">
          <a href="#!" class="text">Awards</a>
        </h6>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase ">
          <a href="#!" class="text">Help</a>
        </h6>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase ">
          <a href="#!" class="text">Contact</a>
        </h6>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row-->
    <hr class="rgba-white-light" style="margin: 0 15%;">

    <!-- Grid row-->
    <div class="row d-flex text-center justify-content-center mb-md-0 mb-4">

      <!-- Grid column -->
      <div class="col-md-8 col-12 mt-5">
        <p style="line-height: 1.7rem" style="color: blanchedalmond;">Designed and built with all the love in the world by team coco. Maintained by the core team with the help of our contributors.
          Currently v0.0.0-alpha.0.</p>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row-->
    <hr class="clearfix d-md-none rgba-white-light" >

    <!-- Grid row-->
    <div class="row pb-3">

      <!-- Grid column -->
      <div class="col-md-12">

        <div class="mb-5 flex-center" style="text-align: center;">
          
          <!-- Facebook -->
          <button class="button" style="background-color: #D4B996FF;" (click)="goToLink(1)">
            <a class="fb-ic" style="padding-right: 8rem;">
              <img src="https://img.icons8.com/ios/48/000000/facebook-new.png"/>
            </a>
          </button>
          <!-- Instagram -->
          <button class="button" style="background-color: #D4B996FF;" (click)="goToLink(2)">
            <a class="insta-ic" style="padding-right: 8rem;">
              <img src="https://img.icons8.com/ios/50/000000/instagram-new.png"/>          
            </a>
          </button>
          <!-- Twitter +-->
          <button class="button" style="background-color: #D4B996FF;">
            <a class="tw-ic">
              <img src="https://img.icons8.com/ios/50/000000/twitter.png"/>
            </a>
          </button>


        </div>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row-->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3 text"  style="background-color: #A07855FF;">© 2020 Copyright:
    <a href="#" class="text">coco</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->


 