<footer class="main-footer" style="background-color: rgb(199, 192, 192);">
    <div class="pull-right hidden-xs">
      <b>Version</b> 0.0
    </div>
    <strong>Copyright &copy; 2019 <a href="" target="_blank">coco</a>.</strong> All rights
    reserved.
    <p  style="text-align: center;">
    <span>Designed and built with all the love in the world by team coco. Maintained by the core team with the help of our contributors.
    Currently v0.0.0-alpha.0. Code 2licensed MIT, docs CC BY 3.0.</span>
  </p>
  </footer>


 