<div class="container-fluid"  style="background-color: #ffeee6;">   

    <div class="row">
        <div class="col-lg-12" style="background-color:#f5e4dc;">
            <!-- search box to find food -->
            <form [formGroup]="filerSearch" (ngSubmit)="consumableSearch($event)"> 
                <div class="" style="background-color: #f5e4dc;">                      
                    <div class="modal-body department-outer"> 
                        <div class="row"><!--row 1-->

                            <div class="col-sm-5">
                                <div class="form-group input-group" >  
                                    
                                    <select id="sub_District_Loc" class="form-control" name="sub_District_Loc" formControlName="City" required>                             
                                        <option value="null" hidden>Select your city</option>  
                                        <option *ngFor="let location of locationList" value="{{location.Sub_District_Code}}" >{{location.Sub_District_Name}}</option>                                      
                                    </select>     
                                    <div class ="text-danger" *ngIf="f.City.errors && valid">Selecting city is mandatory</div>                                 
                                    <div class="input-group-append">
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <!-- <div class="form-group input-group" >

                                    <input type="search" class="form-control" placeholder="Search food here!" formControlName="Consumables" required (keyup) = "consumableSearch($event)" 
                                
                                    name="Consumables" autofocus="autofocus">
                                    <div class ="text-danger" *ngIf="f.Consumables.errors && valid"></div> 
                                    
                                </div> -->
                                <div class="form-group input-group" >

                                    <input type="search" class="form-control" placeholder="Search food here!" formControlName="Consumables" required  (keyup) = "consumableSearch($event)" 
                                    [matAutocomplete] = "auto" name="Consumables" autofocus="autofocus" [formControl]="myControl">
                                    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="displayFn">  
                                        <mat-option *ngFor="let option of receivedConsumablesDetails" [value] = "option.Consumable_Name"> <!-- | async-->
                                            {{option.Consumable_Name}}
                                        </mat-option>
                                    </mat-autocomplete>                                    
                                    <div class ="text-danger" *ngIf="f.Consumables.errors && valid"></div> 
                                    
                                </div>


                            </div>
                            
                            <!-- search button -->
                            <div class="col-sm-2">
                                <div class="form-group input-group" >                                        
                                    <div class="input-group-append">
                                    <button id="button-addon1" type="submit" class="btn btn-list" style="background-color:  #be8a62;" (click)="consumableCardDetails($event)">Search food</button>                                
                                    </div>                                    
                                </div>
                            </div> 


                        </div>
                    </div>
                </div>
            </form>

        </div>        
    </div>

    <!--to align cards in the middle of the screen-->
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <!-- <app-v1-dashbord #dashbord></app-v1-dashbord>  -->
            <app-v1-consumable-card #card></app-v1-consumable-card>
        </div> 
        <div class="col-md-1"></div>
    </div>    


    <!-- images to be displayed on initial load of page -->
    <div class="container" *ngIf="displayHomeImg">
        <div class="row">
            <div class="col-sm-4">
                <mat-card class="example-card">
                    <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>Breakfast</mat-card-title>
                    
                    </mat-card-header>
                    <img mat-card-image src="assets\homeImages\appetizer-1386743_1920.jpg" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                    <p>
                        “One should not attend even the end of the world without a good breakfast.”
                        ― Robert A. Heinlein
                    </p>
                    </mat-card-content>
                    <mat-card-actions>
                    <!-- <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button> -->
                    </mat-card-actions>
                </mat-card>
            </div>            

            <div class="col-sm-4">
                <mat-card class="example-card">
                    <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>Lunch</mat-card-title>
                    
                    </mat-card-header>
                    <img mat-card-image src="assets\homeImages\drinks-2578446_1920.jpg" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                    <p>
                        "My favorite exercise is a cross between a lunge and a crunch... I call it lunch."
                    </p>
                    </mat-card-content>
                    <mat-card-actions>
                    <!-- <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button> -->
                    </mat-card-actions>
                </mat-card>
            </div>            

            <div class="col-sm-4">
                <mat-card class="example-card">
                    <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>Dinner</mat-card-title>
                    
                    </mat-card-header>
                    <img mat-card-image src="assets\homeImages\pizza-3007395_1920.jpg" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                    <p>
                        "After a good dinner one can forgive anybody, even one's own relations."  ― Oscar Wilde
                    </p>
                    </mat-card-content>
                    <mat-card-actions>
                    <!-- <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button> -->
                    </mat-card-actions>
                </mat-card>
            </div>            
        </div>    

        <div class="row">
            Collections
        </div>

    </div>

</div>

<!-- <div class="container"> <p>Your IP Address : {{ipAddress}}</p> </div>   -->
