<div class="container-fluid"  style="background-color: #ffeee6;">   

    <div class="row">
        <div class="col-lg-12" style="background-color:#f5e4dc;">
            <form [formGroup]="filerSearch" (ngSubmit)="consumableSearch($event)"> 
                <!-- {{location.value | json}} -->
                <div class="" style="background-color: #f5e4dc;">                      
                    <div class="modal-body department-outer"> 
                        <div class="row"><!--row 1-->

                            <div class="col-sm-5">
                                <div class="form-group input-group" >  
                                    
                                    <select id="sub_District_Loc" class="form-control" name="sub_District_Loc" formControlName="City" required>                             
                                        <option value="null" hidden>Select your city</option>  
                                        <option *ngFor="let location of locationList" value="{{location.Sub_District_Code}}" >{{location.Sub_District_Name}}</option>                                      
                                    </select>     
                                    <div class ="text-danger" *ngIf="f.City.errors && valid">Selecting city is mandatory</div>                                 
                                    <div class="input-group-append">
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <!-- <div class="form-group input-group" >

                                    <input type="search" class="form-control" placeholder="Search food here!" formControlName="Consumables" required (keyup) = "consumableSearch($event)" 
                                
                                    name="Consumables" autofocus="autofocus">
                                    <div class ="text-danger" *ngIf="f.Consumables.errors && valid"></div> 
                                    
                                </div> -->
                                <div class="form-group input-group" >

                                    <input type="search" class="form-control" placeholder="Search food here!" formControlName="Consumables" required  (keyup) = "consumableSearch($event)" 
                                    [matAutocomplete] = "auto" name="Consumables" autofocus="autofocus" [formControl]="myControl">
                                    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="displayFn">  
                                        <mat-option *ngFor="let option of receivedConsumablesDetails" [value] = "option.Consumable_Name"> <!-- | async-->
                                            {{option.Consumable_Name}}
                                        </mat-option>
                                    </mat-autocomplete>                                    
                                    <div class ="text-danger" *ngIf="f.Consumables.errors && valid"></div> 
                                    
                                </div>


                            </div>
                            <div class="col-sm-2">
                                <div class="form-group input-group" >                                        
                                    <div class="input-group-append">
                                    <button id="button-addon1" type="submit" class="btn btn-list" style="background-color:  #be8a62;" (click)="consumableCardDetails($event)">Search food</button>                                
                                    </div>                                    
                                </div>
                            </div> 


                        </div>
                    </div>
                </div>
            </form>

        </div>        
    </div>

    <!--to align cards in the middle of the screen-->
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <!-- <app-v1-dashbord #dashbord></app-v1-dashbord>  -->
            <app-v1-consumable-card #card></app-v1-consumable-card>
        </div> 
        <div class="col-md-1"></div>
    </div>    

</div>

