<div class="container-fluid"  style="background-color: #ffeee6;">   

    <div class="row">
        <div class="col-lg-12" style="background-color:#f5e4dc;">
        </div>        
    </div> 

    <div class="w-25 p-2"></div>

    <div class="row">
        <div class="col-lg-12" style="background-color:#ffeee6;">                 

            <div class="mat-elevation-z4" *ngIf="visible">
            <mat-card class="example-card card-deck-container" *ngFor="let consumableDetails of obs | async">
                  <mat-card-title>
                    {{consumableDetails.Consumable_Name}}
                  </mat-card-title>
                <mat-card-content>
                  <p>Hotel name: {{consumableDetails.Hotel_Name}}</p>
                  <p>Site offering {{consumableDetails.Consumable_Name}} is {{consumableDetails.Website_Name}}</p>
                  <p>Price is {{consumableDetails.Consumables_Price | currency: "INR"}}</p>
                  <p>Is veg: {{consumableDetails.Is_Veg}}</p>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-button>LIKE</button>
                  <button mat-button>SHARE</button>
                </mat-card-actions>
              </mat-card>
              <!-- <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator> -->
            </div>

            <app-v1-consumable-card></app-v1-consumable-card>

        </div>      
    </div>
    <div class="w-25 p-2"></div>

</div>


